/* SEMPRE PARA SUBIR NO GITHUB */
/* SALVAR TUDO COM CTRL+S */
/* NO TERMINA (CMD) NA PASTA DO HOLOTUBE (PARA CHEGAR USAR DIR E CD)*/
/* git add . */
/* git commit -am "ALGUMA MENSAGEM PRO COMMIT" */
/* git push */


body {
    color: red;

    font-family: Calibri, sans-serif;

}

h1{
    padding-bottom: 50px;

    border-bottom: solid 1px grey;

    font-size: 50px;
}

.cell {

    padding-right: 15px;

    padding-left: 15px;

    color: black;

    font-weight: bold;

}